CI_ENVIRONMENT = development

app.baseURL = 'http://localhost:8080/'
app.appTimezone = 'UTC'
encryption.key = 'replace-with-a-32-byte-random-secret'

database.default.hostname = localhost
database.default.database = better_bracket
database.default.username = better_bracket
database.default.password = change-me
database.default.DBDriver = Postgre
database.default.port = 5432

cookie.secure = false
