parameters:
    bootstrapFiles:
        - vendor/codeigniter4/framework/system/Common.php
        - vendor/codeigniter4/framework/system/Helpers/form_helper.php
        - vendor/codeigniter4/framework/system/Helpers/security_helper.php
        - vendor/codeigniter4/framework/system/Helpers/url_helper.php
    level: 6
    paths:
        - app/Controllers
        - app/Database
        - app/Helpers
        - app/Models
        - app/Services
    tmpDir: build/phpstan
    treatPhpDocTypesAsCertain: false
